@import 'common.css';
.container{
    width: min(90%, 1200px);
    margin: 0 auto;
    }
    a{
        text-decoration: none;
        /* color: var(--light-gray); */
    }

    #mobile-menu{
        display: none;
        justify-content: center;    
        align-items: center;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100vw;
        padding: 10px;
        background: var(--color-gray);
    }

    .menu-links{
        width: 100%;
        height: fit-content;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        color: var(--color-white);
        /* padding: 10px; */
        /* color: var(--color-primary); */
        transition: all 300ms ease;
    }
    #mobile-menu .menu-links:hover{
        background-color: var(--color-light);
        color: var(--color-primary);
    }
    #mobile-menu .menu-links .btn-mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    
    .humberger{
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* gap: 4px; */
        width: 60px;
        /* height: 60px; */
        /* border-radius: 50%; */
        /* background-color: var(--blue); */
        cursor: pointer;
    }
    .humberger span{
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4px;
        background-color: var(--blue);
        border-radius: 5px;
    }
    .humberger.active span:nth-of-type(1){
        transform: translateY(12px) rotate(45deg);
    }
    .humberger.active span:nth-of-type(2){
    opacity: 0;
    }
    .humberger.active span:nth-of-type(3){
        transform: translateY(-12px) rotate(-45deg) ;
    }
    
.admin-dashboard{
    display: grid;
    grid-template-columns: 20% auto;
    gap: 20px;
    /* display: none; */
    /* margin-top: 18vh; */
}
/* .admin-dashboard.active{
    display: grid;
} */


.admin-dashboard .left-side{
    width: 100%;
    height: 100vh;
    background:var(--white-color);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
}


.admin-dashboard .left-side .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.admin-dashboard .left-side #adminName{
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-primary);
}

.admin-dashboard .left-side .profile .profile-photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.admin-dashboard .left-side  .menu-links{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-blue);
    transition: all 300ms ease;
}
/* .admin-dashboard .left-side  .menu-links 
.first{
    /* width: 100%; */
    /* display: inline-block; */
    /* height: 1.5rem; */
/* } */ 
.admin-dashboard .left-side .menu-links .first:hover{
    background-color: var(--light-gray);
    position: relative;
}
.admin-dashboard .left-side .menu-links .first:hover::after{
    content: '';
    width: 5px;
    height: 100%;
    background-color: var(--Midnight-Blue);
    position: absolute; 
    right: 0px;
    border-radius: 20px;
}
.admin-dashboard .left-side .menu-links span{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.admin-dashboard .right-side{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white-color);
}
.admin-dashboard .right-side h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
}
.admin-dashboard .right-side p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-gray);
}
.admin-dashboard .right-side .dashboard{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.admin-dashboard .right-side .dashboard.active{
    display: flex;
}


.admin-dashboard .inventory{
    display: none;
    height: 100%;
}
.admin-dashboard .inventory.active{
    display: flex;
}
.admin-dashboard .inventory .inventory-item{
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
    flex-direction: column;
    padding: 10px;
}
.admin-dashboard .inventory .scrollable-table{
    width: min(95%, 1120px);
    height: 70vh;
    margin-top: 10px;
    margin-inline:auto; 
    overflow-y: auto;
}
.admin-dashboard .right-side .table{
    border-collapse: collapse;
    width:100%;
    margin: 20px auto;

   }
    .admin-dashboard .right-side .table thead tr{
    background-color: var(--blue);
    color: var(--light-gray);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    position: sticky;
    top: 0;
    
    }

    .admin-dashboard .right-side .table thead tr th{
        padding : 10px;
        text-align: center;
    }

    .admin-dashboard .right-side .table tbody tr td{
        padding : 10px;
        text-align: center;
    }
    .admin-dashboard .right-side .table tbody tr td:last-child{
        display: flex;
        padding : 10px;
        gap: 10px;
        text-align: center;
    }

    .admin-dashboard .right-side .table tbody tr:nth-of-type(even){
        background-color: var(--color-light);
    }
    .admin-dashboard .right-side .table tbody tr:nth-of-type(odd):hover{
        background-color: var(--color-light);
    }

    .admin-dashboard .customers{
        display: none;
        height: 100%;
    }
    .admin-dashboard .customers.active{
        display: flex;
        height: 100%;
    }
   
    .admin-dashboard .customers .customers-scrolleble{
        width: min(95%, 1120px);
        height: 70vh;
        margin-top: 10px;
        margin-inline:auto; 
        overflow-y: auto;
    }
 .admin-dashboard .right-side .drug-registration-model{
    width: 90%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .3);
    background: var(--color-light);
    border-radius: 10px;
    display: none;
 }   
 .admin-dashboard  .right-side .drug-registration-model.active{
    display: block;
 }

    .admin-dashboard .right-side .drug-registration-model .drug-registration-content{
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;
        gap: 10px;
        position: relative;
    }
    .admin-dashboard .right-side .drug-registration-model h2{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-primary);
        /* text-align: left; */
    }
    .admin-dashboard .right-side .drug-registration-model .drug-registration-content .close{
        position: absolute;
        top: 0px; 
        right: 10px;
        border: none;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-primary);
        cursor: pointer;
        padding: 5px;
    }
    .admin-dashboard .right-side .drug-registration-model .drug-registration-content #drug-registration{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
    }
    .admin-dashboard .right-side .drug-registration-model .drug-registration-content #drug-update{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
    }
    #drug-registration input{
        width: 90%;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid var(--color-gray);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-dark);
    }
    #drug-update input{
        width: 90%;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid var(--color-gray);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-dark);
    }
    #drug-registration input[type="submit"]{
        color: var(--white-color);
    }
    
    .form-group{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    #drug-registration textarea{
        width: 90%;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid var(--color-gray);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-dark);   
        padding: 30px 10px;
    }
   

    .btn{
        font-size: 1.2rem;
        font-weight: 600;
        color:white;
        background: var(--blue);
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }



    /* Responsive */

    @media (max-width: 481px) {
        
        .humberger{
            display: flex;
        }
        .menu-links{
            display: none;
        }
        .menu-links.active{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

        .admin-dashboard{
            grid-template-columns: 1fr;
        }
        .admin-dashboard .left-side{
            display: none;
        }
        .admin-dashboard .left-side.active{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            background: var(--white-color);
            height: fit-content;

            & .profile{
                display: none;
            }
        }

        .card .card-body{
            width: 80%;
        }
        .admin-dashboard .inventory .scrollable-table{
            width: min(90%, 1120px);
        }
        
        .admin-dashboard .customers .customers-scrolleble{
            width: 100%;
        }
        .admin-dashboard .right-side .table th{
            display: none;
           }

        .admin-dashboard .right-side .table{
            width: 100%;
            
           }
        .admin-dashboard .right-side .table td{
            display: grid;
            grid-template-columns: 25% auto;
            padding: 0.5rem 1rem;
            
           }
        /* .admin-dashboard .right-side .table tr{
            border-bottom: 1px solid var(--color-dark);
           } */
        .admin-dashboard .right-side .table tr:nth-of-type(2n){
            background: var(--color-gray);
           }
        .admin-dashboard .right-side .table td:first-child{
            padding-top: 2rem;
           }
        .admin-dashboard .right-side .table td:last-child{
            padding-bottom: 2rem;
            margin-left: 20px;
           }
        .admin-dashboard .right-side .table td:nth-of-type(1)::before{
            content: "ID: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(2)::before{
            content: "Name: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(3)::before{
            content: "Category: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(4)::before{
            content: "Price: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(5)::before{
            content: "Quantity: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(6)::before{
            content: "Action: ";
            font-weight: bold;
           }

           .inventory a{
            text-align: center;
            margin-left: 20px;
        }

        /* customers table */
        .admin-dashboard .right-side .customers .table td:nth-of-type(1)::before{
            content: "ID: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .customers .table td:nth-of-type(2)::before{
            content: "First Name: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .customers .table td:nth-of-type(3)::before{
            content: "Last Name: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .customers .table td:nth-of-type(4)::before{
            content: "Email: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .customers .table td:nth-of-type(5)::before{
            content: "Role: ";
            font-weight: bold;
           }
    }


    @media (min-width: 482px) and (max-width: 768px) {
      
        
        .admin-dashboard{
            grid-template-columns: 10% auto;
        }
       
        .admin-dashboard .left-side .handle{
            display: none;
        }
        .admin-dashboard .inventory .scrollable-table{
            width: min(95%, 1120px);
        }

        .admin-dashboard .right-side .table{
            width:70%;
           }
           .admin-dashboard .right-side .table thead tr th{
            padding : 5px;
        }
    
        .admin-dashboard .right-side .table tbody tr td{
            padding : 8px;
                }
        .admin-dashboard .right-side .table tbody tr td:last-child{
            padding : 7px;
            gap: 5px;
        }
        .admin-dashboard .left-side .menu-links span span{
            display: none;
        }
        .inventory a{
            text-align: center;
            margin-left: 20px;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px){
    
        .admin-dashboard{
            grid-template-columns: 10% auto;
        }
        .admin-dashboard .left-side .handle{
            display: none;
        }
        .admin-dashboard .inventory .scrollable-table{
            width: min(95%, 1120px);
        }
        .admin-dashboard .right-side .table thead tr th{
            padding : 5px;
        }
    
        .admin-dashboard .right-side .table tbody tr td{
            padding : 8px;
                }
        .admin-dashboard .right-side .table tbody tr td:last-child{
            padding : 7px;
            gap: 5px;
        }
        .admin-dashboard .left-side .menu-links span span{
            display: none;
        }
       
        
    }