@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
:root{
    --color-primary:hsl(227, 70%, 57%);
    --color-secondary:hsl(193, 100%, 70%);
    --color-dark:hsl(252, 30%, 17%);
    --color-white:hsl(252, 30%, 100%);
    --color-black:hsl(252, 30%, 10%);
    --color-light:hsl(252, 30%, 95%);
    --color-gray:hsl(252, 15%, 60%);
    --color-success:hsl(120, 95%, 65%);
    --color-danger:hsl(0, 95%, 65%);
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-light);
}

.container{
    width: min(90%, 1120px);
    margin-inline: auto;
    /* margin-top: 100px; */
}
header{
    width: 100vw;
    height: 16vh;
    padding: 0 10px;
    background-color: var(--color-white);
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    z-index: 100;
    /* margin-bottom: 300px; */
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 300px;
}
.logo{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    /* margin-left: 40px; */
}
.logo h1{
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
}

img{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
.text-muted{
    color: var(--color-gray);
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.menu .cart{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}
.menu .cart i{
    font-size: 1.3rem;
    color: var(--color-danger);
}
.menu .cart span{
    font-size: 1rem;
    font-weight: 600;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top:5px; 
    right: 5px;
    
}

#mobile-menu{
    display: none;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    padding: 10px;
    background: var(--color-gray);
}
#mobile-menu .menu-links{
    width: 100%;
    height: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: var(--color-white);
    /* padding: 10px; */
    /* color: var(--color-primary); */
    transition: all 300ms ease;
}
#mobile-menu .menu-links:hover{
    background-color: var(--color-light);
    color: var(--color-primary);
}
#mobile-menu .menu-links .btn-mobile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.humberger{
    display: none;
    position: absolute;
    top: 35px;
    right: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    width: 60px;
    background-color: var(--color-white);
    cursor: pointer;
}
.humberger span{
    width: 100%;
    padding: 5px;
    background-color: var(--color-primary);
    border-radius: 5px;
}
.humberger.active span:nth-of-type(1){
    transform: translateY(12px) rotate(45deg);
}
.humberger.active span:nth-of-type(2){
opacity: 0;
}
.humberger.active span:nth-of-type(3){
    transform: translateY(-12px) rotate(-45deg) ;
}

.card{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .3);
    border: 1px solid var(--color-gray);
    border-radius: 10px;
    display: none;
}
.card.active{
    display: flex;
}

.card .card-body{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    height: fit-content;
    margin: 10px auto;
}

.card .card-body h2{
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
}

.card form{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-light);
    border-radius: 10px;
    padding: 20px;
}
.card form input{
    width: 90%;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-dark);
}
.buttons{
    width:90%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.buttons span{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-secondary);
}
.btn-sign-in, .btn-sign-up{
    width: 100%;
}


.btn{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;    
    font-weight: 700;
    transition: all .3s;
}
.btn:hover{
    background-color: var(--color-secondary);
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* display: none; */
    margin-top: 18vh;
}
.product{
    width: 100%;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: var(--color-white);
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .3);
    transition: all .3s;    
}
.product:hover{
    transform: translateY(-10px);
}
.product h3{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: var(--color-primary);
}
.product span{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--color-secondary);
}
.product p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color:var(--color-dark);
}

.cart-model{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}
.cart-model.active{
    display: flex;
}
.cart-content{
    background: var(--color-white);
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.cart-header{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-gray);
}
.cart-content .close{
    position: absolute;
    top: 50px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.cart-content .close i{
    font-size: 1.5rem;
    color: var(--color-danger);
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--color-gray);
}
.cart-items{
    margin: 1.5rem 0;
}
.cart-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-gray);
}
.cart-item img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 10px;
}
.cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h4 {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
  
  .cart-item-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .quantity-btn {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e7eb;
    background: var(--bg-white);
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
.admin-dashboard{
    /* display: grid; */
    grid-template-columns: 20% auto;
    gap: 20px;
    display: none;
    margin-top: 18vh;
}
.admin-dashboard.active{
    display: grid;
}
.admin-dashboard .left-side{
    width: 100%;
    /* height: 100vh; */
    background-color: var(--color-white);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}
.admin-dashboard .left-side .profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.admin-dashboard .left-side #adminName{
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-primary);
}

.admin-dashboard .left-side .profile .profile-photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.admin-dashboard .left-side  .menu-links{
    width: 100%;
    /* height: 4rem; */
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-primary);
    transition: all 300ms ease;
}
.admin-dashboard .left-side  .menu-links 
.first{
    width: 100%;
    /* display: inline-block; */
    /* height: 1.5rem; */
}
.admin-dashboard .left-side .menu-links .first:hover{
    background-color: var(--color-light);
    position: relative;
}
.admin-dashboard .left-side .menu-links .first:hover::after{
    content: '';
    width: 10px;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute; 
    right: 0px;
    border-radius: 20px;
}
.admin-dashboard .left-side .menu-links span{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.admin-dashboard .right-side{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-white);
}
.admin-dashboard .right-side h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
}
.admin-dashboard .right-side p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-gray);
}
.admin-dashboard .right-side .dashboard{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.admin-dashboard .right-side .dashboard.active{
    display: flex;
}
#add-new-drug{
   
}

.admin-dashboard .inventory{
    display: none;
    height: 100%;
}
.admin-dashboard .inventory.active{
    display: flex;
}
.admin-dashboard .inventory .inventory-item{
    display: flex;
    /* justify-content: space-between; */
    align-items: start;
    flex-direction: column;
    padding: 10px;
}
.admin-dashboard .inventory .scrollable-table{
    width: min(95%, 1120px);
    height: 70vh;
    margin-top: 10px;
    margin-inline:auto; 
    overflow-y: auto;
}
.admin-dashboard .right-side .table{
    border-collapse: collapse;
    width:100%;
    margin: 20px auto;

   }
    .admin-dashboard .right-side .table thead tr{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    position: sticky;
    top: 0;
    
    }

    .admin-dashboard .right-side .table thead tr th{
        padding : 10px;
        text-align: center;
    }

    .admin-dashboard .right-side .table tbody tr td{
        padding : 10px;
        text-align: center;
    }
    .admin-dashboard .right-side .table tbody tr td:last-child{
        display: flex;
        padding : 10px;
        gap: 10px;
        text-align: center;
    }

    .admin-dashboard .right-side .table tbody tr:nth-of-type(even){
        background-color: var(--color-light);
    }
    .admin-dashboard .right-side .table tbody tr:nth-of-type(odd):hover{
        background-color: var(--color-light);
    }
   
 .admin-dashboard .right-side .drug-registration-model{
    width: 90%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .3);
    background: var(--color-light);
    border-radius: 10px;
    display: none;
 }   
 .admin-dashboard  .right-side .drug-registration-model.active{
    display: block;
 }

    .admin-dashboard .right-side .drug-registration-model .drug-registration-content{
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;
        gap: 10px;
        position: relative;
    }
    .admin-dashboard .right-side .drug-registration-model h2{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-primary);
        /* text-align: left; */
    }
    .admin-dashboard .right-side .drug-registration-model .drug-registration-content .close{
        position: absolute;
        top: 0px; 
        right: 10px;
        border: none;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-primary);
        cursor: pointer;
        padding: 5px;
    }
    .admin-dashboard .right-side .drug-registration-model .drug-registration-content #drug-registration{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
    }
    .admin-dashboard .right-side .drug-registration-model .drug-registration-content #drug-update{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
    }
    #drug-registration input{
        width: 90%;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid var(--color-gray);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-dark);
    }
    #drug-update input{
        width: 90%;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid var(--color-gray);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-dark);
    }
    #drug-registration input[type="submit"]{
        color: var(--color-white);
    }
    #drug-update input[type="submit"]{
        color: var(--color-white);
    }
    .form-group{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    #drug-registration textarea{
        width: 90%;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid var(--color-gray);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-dark);   
        padding: 30px 10px;
    }
    #drug-update textarea{
        width: 90%;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid var(--color-gray);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-dark);   
        padding: 30px 10px;
    }


    @media (max-width: 481px) {
        #mobile-menu.active{
            display: flex;
        }
        .humberger{
            display: flex;
        }
        .menu{
            display: none;
        }
        .products{
            grid-template-columns: 1fr;
        }
        .admin-dashboard{
            grid-template-columns: 1fr;
        }
        .admin-dashboard .left-side{
            display: none;
        }
        .card .card-body{
            width: 80%;
        }
        .admin-dashboard .inventory .scrollable-table{
            width: min(90%, 1120px);
        }
        .admin-dashboard .right-side .table th{
            display: none;
           }
        .admin-dashboard .right-side .table td{
            display: grid;
            grid-template-columns: 30% auto;
            padding: 0.5rem 1rem;
            
           }
        /* .admin-dashboard .right-side .table tr{
            border-bottom: 1px solid var(--color-dark);
           } */
        .admin-dashboard .right-side .table tr:nth-of-type(2n){
            background: var(--color-gray);
           }
        .admin-dashboard .right-side .table td:first-child{
            padding-top: 2rem;
           }
        .admin-dashboard .right-side .table td:last-child{
            padding-bottom: 2rem;
            margin-left: 20px;
           }
        .admin-dashboard .right-side .table td:nth-of-type(1)::before{
            content: "ID: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(2)::before{
            content: "Name: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(3)::before{
            content: "Category: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(4)::before{
            content: "Price: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(5)::before{
            content: "Quantity: ";
            font-weight: bold;
           }
        .admin-dashboard .right-side .table td:nth-of-type(6)::before{
            content: "Action: ";
            font-weight: bold;
           }

           .inventory a{
            text-align: center;
            margin-left: 20px;
        }
    }


    @media (min-width: 482px) and (max-width: 768px) {
      
        .products{
            grid-template-columns: repeat(2, 1fr);
        }
        .admin-dashboard{
            grid-template-columns: 10% auto;
        }
        .card .card-body{
            width: 80%;
        }
        .admin-dashboard .left-side .handle{
            display: none;
        }
        .admin-dashboard .inventory .scrollable-table{
            width: min(95%, 1120px);
        }

        .admin-dashboard .right-side .table{
            width:70%;
           }
           .admin-dashboard .right-side .table thead tr th{
            padding : 5px;
        }
    
        .admin-dashboard .right-side .table tbody tr td{
            padding : 8px;
                }
        .admin-dashboard .right-side .table tbody tr td:last-child{
            padding : 7px;
            gap: 5px;
        }
        .admin-dashboard .left-side .menu-links span span{
            display: none;
        }
        .inventory a{
            text-align: center;
            margin-left: 20px;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px){
        .products{
            grid-template-columns: repeat(3, 1fr);
        }
        .admin-dashboard{
            grid-template-columns: 10% auto;
        }
        .admin-dashboard .left-side .handle{
            display: none;
        }
        .admin-dashboard .inventory .scrollable-table{
            width: min(95%, 1120px);
        }
        .admin-dashboard .right-side .table thead tr th{
            padding : 5px;
        }
    
        .admin-dashboard .right-side .table tbody tr td{
            padding : 8px;
                }
        .admin-dashboard .right-side .table tbody tr td:last-child{
            padding : 7px;
            gap: 5px;
        }
        .admin-dashboard .left-side .menu-links span span{
            display: none;
        }
        .card .card-body{
            width: 60%;
        }
        
    }